# AzuraCast Configuration
NEXT_PUBLIC_STREAM_URL=https://app.lightfmradio.org/listen/lightfm/radio.mp3
NEXT_PUBLIC_API_URL=https://app.lightfmradio.org/api/nowplaying/lightfm
NEXT_PUBLIC_STATION_API_URL=https://app.lightfmradio.org/api/station/lightfm

# Database Configuration
DATABASE_URL="postgresql://username:password@app.lightfmradio.org:5432/lightfm?schema=public"

# JWT Secret (change this!)
JWT_SECRET="your-secret-key-change-this"

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://lightfmradio.org
